* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 600px;
  
}

.square {
  width: 16px;
  height: 16px;
  background-color: #1d1d1d;
  margin: 2px;
  box-shadow: 00 2px #000;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}

.container {
  color: #51C0C0, #8e44ad, #95BFE8, #3498db, #471e93, #2ecc71
}